
/* -----------------------------------------
    animation-range: entry -20% contain 40%;
    画面の-20%下方から変化を開始、
    画面の40%に到達したときに変化が終了する。
----------------------------------------- */

.a{
    /* ---------------------------------------
        通常のfadeアニメーション
    --------------------------------------- */
    &-fade{
        animation-name:fadeAnime;
        perspective-origin: left center;
    }
    @keyframes fadeAnime{
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    /* ---------------------------------------
        fadeUPアニメーション
    --------------------------------------- */
    &-fadeUp{
        animation-name:fadeUpAnime;
        perspective-origin: left center;
    }
    @keyframes fadeUpAnime{
        from {
            opacity: 0;
            transform: translateY(100px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    /* ---------------------------------------
        fadeDownアニメーション
    --------------------------------------- */
    &-fadeDown{
        animation-name:fadeDownAnime;
    }
    @keyframes fadeDownAnime{
        from {
            opacity: 0;
            transform: translateY(-100px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    /* ---------------------------------------
        fadeRightアニメーション
    --------------------------------------- */
    &-fadeRight{
        animation-name:fadeRightAnime;
    }
    @keyframes fadeRightAnime{
        from {
            opacity: 0;
            transform: translateX(100px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    /* ---------------------------------------
        fadeLeftアニメーション
    --------------------------------------- */
    &-fadeLeft{
        animation-name:fadeLeftAnime;
    }
    @keyframes fadeLeftAnime{
        from {
            opacity: 0;
            transform: translateX(-100px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
}


/* -----------------------------------------------
    スライドショー関係
------------------------------------------------*/
.a-fview{
    overflow: hidden;
    img{
        animation: fview-fadeIn 1s both;
        animation-duration:3s;
    }
}
@keyframes fview-fadeIn {
    0% {
        transform: scale(1);
        opacity: 0;
        filter: blur(10px);
    }
    100% {
        transform: scale(1.1);
        opacity: 1;
        filter: blur(0);
    }
}